div.ex1{  border-radius: 20px;
  padding: 20px;
  left: 600px;
  width: 600px;
  height: 400px;
  margin-right:auto;
  background-color: #9DC7C4;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

div.ex2{  border-radius: 20px;
  padding: 40px;
  width: 520px;
  height: 10px;
  margin-right: auto;
  background-color: #FFFFFF;
  opacity: 0.9;
  filter: alpha(opacity=90);
  margin: 15px 2px;
}

div.ex3{  border-radius: 20px;
  padding: 20px;
  width: 250px;
  height: 250px;
  margin: 20px 5px;
  margin-left: auto;
  background-color: #FFFFFF;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

div.ex4{  border-radius: 20px;
  padding: 20px;
  width: 250px;
  height: 250px;
  float: left;
  background-color: #FFFFFF;
  opacity: 0.9;
  margin: 20px 5px;
  filter: alpha(opacity=90);
}
.button {
  background-color: #FFFFFF;
  border-color: : #9DC7C4;
  color: black;
  padding: 15px 29px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 5px 5px 5px;
  cursor: pointer;
  border-radius: 12px;

}
.numero{
  color: black;
  border-radius: 12px;
  padding: 10px 10px 10px;
  width: 555px;
  line-height: 45px;
  font-size: 30px;
  text-align: right;
}
